* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  margin: 0;
}

.header {
  padding: 80px;
}

.header h1 {
  font-family: Arial;
  font-size: 40px;
  text-algin: center;
}

.nav {
  font-size: 20px;
  width: 100%;
  position: fixed;
  padding: 1em;
  inset: 0% 0% auto;
}

.nav a {
  color: black;
  text-decoration: none;
}

.nav a:hover {
  color: gray;
}
