* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  margin: 0;
}

.header {
  padding: 80px;
  text-align: center;
  background: gray;
}

.header h1 {
  font-family: Arial;
  font-size: 40px;
}

.header h2 {
  font-family: Arial;
  font-size: 25px;
}

#navbar {
  background-color: #333;
  position: fixed;
  top: -50px;
  width: 100%;
  display: block;
  transition: top 0.3s;
}

#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 15px;
  text-decoration: none;
  font-size: 17px;
}

#navbar a:hover {
  color: gray;
}
