body {
  font-family: Arial;
  margin: 0;
}

.header {
  padding: 80px;
  text-algin: center;
}

.header h1 {
  font-family: Arial;
  font-size: 40px;
}

.nav {
  font-family: Arial;
  font-size: 20px;
  width: 100%;
  position: fixed;
  padding: 1em;
  inset: 0% 0% auto;
}
